<h1>from show page</h1>
<h4>{{oneHouse.houseType}}</h4>
<h4>{{oneHouse.own}}</h4>
<button ng-click="editForm(house)">Edit House</button>

<form class="comment-form fadein fadeout" ng-show="edit === true">
 <label for="houseType">House Type</label>
   <input type="text" id="houseType" name="houseType" ng-model="updateHouse.houseType">
 <label for="own">Own or Rent?</label>
   <input type="text" id="own" name="own" ng-model="updateHouse.own">
 <input type="submit" ng-click="editHouse(house)"></input>
 </form>
